.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  color: #ffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
