$primary-color: #3498db;
$section-background-color: #ffffff;
$section-padding: 10px;
$section-margin: 10px;
$border-radius: 10px;
$text-color: #333;

.education-section {
  background-color: $section-background-color;
  padding: $section-padding;
  margin: $section-margin;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    color: $primary-color;
    font-size: 22px;
    margin-bottom: 10px;
  }

  p {
    color: $text-color;
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.tag-container {
  flex-wrap: wrap;
}
